<%= link_to messages_path(room_id: room.id), data: { turbo_frame: 'room-messages' }, class: "room-card" do %>
  <div class="room-content">
    <span class="room-name"><%= room.name %></span>
    <span class="room-icon">рЯТђ</span> <!-- аєДаЄ≠аЄДаЄ≠аЄЩаєБаЄКаЄЧ -->
  </div>
<% end %>
